/* colors:
501f3a
cb2d6f
cccccc
14a098
0f292f
*/

body {
    margin: 0;
    height: 100%;
}

* {
    margin: 0px;
    padding: 0px; 
    outline: none;
    border: 0px;
  }

p {
  margin: 0; 
}

#container {
    max-height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
	scroll-snap-points-y: repeat(3rem);
	scroll-snap-type: y mandatory;
}

li {
	font-size: 40px;
	font-family: 'Coustard', serif;
    color: white;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	scroll-snap-align: start;
    height: 100vh;
}

#page-one {
    background-image: linear-gradient(to right bottom, #3f69b8, #5177c0, #6284c7, #7392cf, #84a0d6, #829dd9, #809adc, #8096de, #757fda, #7265d2, #7647c6, #7d1ab4);
    text-align: center;
}

#page-two {
    background-image: linear-gradient(to right bottom, #b83f8f, #b853a2, #b766b3, #b577c2, #b487d0, #a881c8, #9d7bc1, #9275b9, #7a599e, #623e83, #4b2468, #35074f);

}
#page-three {
    background-image: linear-gradient(to right bottom, #3f69b8, #5177c0, #6284c7, #7392cf, #84a0d6, #829dd9, #809adc, #8096de, #757fda, #7265d2, #7647c6, #7d1ab4);

}

#earth {
    height: 200px;
    width: 210px;
}