
body {
    margin: 0;
    height: 100%;
}

* {
    margin: 0px;
    padding: 0px; 
    outline: none;
    border: 0px;
    font-family: 'Roboto', sans-serif;
  }

p {
  margin: 0; 
}

#container {
    max-height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
	scroll-snap-points-y: repeat(3rem);
	scroll-snap-type: y mandatory;
}

#navbar {
    color: white;
    position: absolute;
    z-index: 10;
    margin-left: 50px;
    margin-top: 30px;
}

#navbar a {
    margin-right: 30px;
    text-decoration: none;
    color: white;
    font-size: 20px
}

li {
	font-size: 40px;
    color: white;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	scroll-snap-align: start;
    height: 100vh;
}

.page {
    position: relative;
}

#page-one {
    background-image: linear-gradient(to top, #147b83, #156970, #14585d, #12474b, #10373a);
}

.main-title-text {
    font-size: 150px;
}

#page-one-title {
    margin-bottom: -20px;
}

#page-seven-title {
    margin-bottom: -10px;
}

.page-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-content-wrapper {
    position: relative;
}

#page-two {
    background-image: linear-gradient(to bottom, #147b83, #20838a, #2b8a92, #349299, #3d9aa1);
}

.title-text {
    font-size: 50px;
}

#page-three {
    background-image: linear-gradient(to bottom, #3d9aa1, #58a6ac, #70b2b7, #86bec2, #9bcacd);
}

#page-four {
    background-image: linear-gradient(to bottom, #9bcacd, #86c3dc, #8ab7e9, #aaa6e9, #d28fd2);
}

#page-five {
    background-image: linear-gradient(to bottom, #d28fd2, #c480c3, #b572b5, #a764a7, #995699);
}

#page-six {
    background-image: linear-gradient(to bottom, #995699, #874887, #753975, #632c63, #521e52);
}

#page-seven {
    background-image: linear-gradient(to bottom, #521e52, #491749, #411141, #380a38, #300430);
}

#earth {
    height: 200px;
    width: 210px;
    margin-left: -20px;
    margin-right: -20px;
}

#veggies {
    height: 230px;
}

#bulb {
    height: 300px;
    margin-top: 40px;
    margin-bottom: -40px;
}

#bicycle {
    height: 300px;
}

#plant {
    height: 300px;
}

#policy {
    height: 300px;
    margin-bottom: -40px;
}

#hourglass {
    height: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.remembertext {
    font-family: 'Shadows Into Light', cursive;
    font-size: 28px;
    margin-right: 580px;
    margin-bottom: -30px;
}

.subheader {
    font-family: 'Shadows Into Light', cursive;
    margin-left:490px;
    font-size: 28px;
    margin-top: -5px;
}

#chevron-first-page {
    bottom: 10px;
    left: 50%;
}

#chevron-last-page {
    top: 10px;
    left: 50%;
}

.chevron {
    position: absolute;
    text-decoration: none;
    color: white;
}

.chevron-down {
    right: 56px;
    top: 224px;
}

.chevron-up {
    right: 56px;
    top: 50px;
}

.chevron:hover { 
    animation: pulse 1s infinite;
    animation-timing-function: linear;   
  }

.overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    text-align: center;
}

#page-two-overlay {
    background-image: radial-gradient(circle, #20838a, #22617b, #31405d, #2e2337, #1d0813);
  }

#page-three-overlay {
    background-image: radial-gradient(circle, #9bcacd, #7495a6, #586277, #3c3344, #1d0813);
  }

  #page-four-overlay {
    background-image: radial-gradient(circle, #86c3dc, #84bde5, #8cb5ea, #9eaceb, #b4a0e5, #b18dcc, #ab7ab2, #a36999, #804f72, #5d364f, #3b202f, #1d0813);
  }

  #page-five-overlay {
    background-image: radial-gradient(circle, #c480c3, #995e8f, #6e3f60, #442436, #1d0813);
  }

  #page-six-overlay {
    background-image: radial-gradient(circle, #793579, #64275b, #4d1b40, #361128, #200414);
  }

  .paragraph {
    color:white;
    font-size: 20px;
    margin-right: 350px;
    margin-left: 350px;
    margin-bottom: 30px;
  }

  .paragraph a {
      color:white;
  }

.full-circle {
    background-color: rgba(255, 255, 255, 0.3);
    border: 3px solid white;
    height: 100px;
    width: 100px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    position:absolute;
    right: 20px;
    bottom: 40%;
    margin:0px;
    font-size: 25px;
    cursor: pointer;
}

.full-circle p {
    margin-top: 20px;
}

.full-circle:hover { 
    animation: pulse 1s infinite;
    animation-timing-function: linear;   
  }

  .full-circle2 {
    background-color: rgba(255, 255, 255, 0.3);
    border: 3px solid white;
    height: 60px;
    width: 60px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    text-align: center;
    font-size: 40px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 20px;
}

.full-circle2 p {
    margin-top: 7px;
    color: white;
}

.full-circle2:hover { 
    animation: pulse 1s infinite;
    animation-timing-function: linear;   
  }
  
  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); 
    100% { transform: scale(1); }
    }
  }
