/* colors:
501f3a
cb2d6f
cccccc
14a098
0f292f
*/

body {
    margin: 0;
    height: 100%;
}

* {
    margin: 0px;
    padding: 0px; 
    outline: none;
    border: 0px;
    font-family: 'Roboto', sans-serif;
  }

p {
  margin: 0; 
}

#container {
    max-height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
	scroll-snap-points-y: repeat(3rem);
	scroll-snap-type: y mandatory;
}

li {
	font-size: 40px;
    color: white;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	scroll-snap-align: start;
    height: 100vh;
}

.page {
    position: relative;
}

#page-one {
    background-image: linear-gradient(to right bottom, #84cca0, #72c5a2, #61bfa4, #4fb7a5, #3db0a7, #3cb2aa, #3cb4ad, #3bb6b0, #4dc2b4, #5fcfb8, #72dbbb, #85e7be);}

.page-one-title-text {
    font-size: 150px;
}

#page-one-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -20px;
}

#page-two {
    background-image: linear-gradient(to right bottom, #fea642, #fdb15a, #fcbb72, #fac589, #f8cfa0, #f8cfa0, #f8cfa0, #f8cfa0, #fac589, #fcbb72, #fdb15a, #fea642);
}

.title-text {
    font-size: 50px;
}

#page-three {
    background-image: linear-gradient(to right bottom, #8ec9ef, #90d3ef, #97dcee, #a2e5ec, #b1edea, #b1edea, #b1edea, #b1edea, #a2e5ec, #97dcee, #90d3ef, #8ec9ef);
}

#page-four {
    background-image: linear-gradient(to right bottom, #f19dd9, #f2abe0, #f3b9e6, #f4c7eb, #f5d4f0, #f5d4f0, #f5d4f0, #f5d4f0, #f4c7eb, #f3b9e6, #f2abe0, #f19dd9);
}

#page-five {
    background-image: linear-gradient(to right bottom, #8eef97, #97f1a5, #a1f3b3, #acf5bf, #b7f6cb, #b7f6cb, #b7f6cb, #b7f6cb, #acf5bf, #a1f3b3, #97f1a5, #8eef97);
}

#page-six {
    background-image: linear-gradient(to right bottom, #c4aafd, #ceb3fc, #d6bcfb, #dec5fa, #e5cff9, #e5cff9, #e5cff9, #e5cff9, #dec5fa, #d6bcfb, #ceb3fc, #c4aafd);
}

#earth {
    height: 200px;
    width: 210px;
    margin-left: -20px;
    margin-right: -20px;
}

#veggies {
    height: 280px;
}

#bulb {
    height: 300px;
    margin-top: 40px;
    margin-bottom: -20px;
}

#bicycle {
    height: 300px;
}

#plant {
    height: 300px;
}

#policy {
    height: 300px;
    margin-bottom: -40px;
}

.subheader {
    font-family: 'Shadows Into Light', cursive;
    margin-left:450px;
    font-size: 28px;
}

.chevron {
    text-decoration: none;
    color: white;
    position: absolute;
    bottom: 10px;
    left: 50%;
}