#earth {
    height: 200px;
    width: 210px;
    margin-left: -20px;
    margin-right: -20px;
}

#veggies {
    height: 230px;
}

#bulb {
    height: 300px;
    margin-top: 40px;
    margin-bottom: -40px;
}

#bicycle {
    height: 300px;
}

#plant {
    height: 300px;
}

#policy {
    height: 300px;
    margin-bottom: -40px;
}

#info {
    height: 200px;
    margin-bottom: 30px;
}