.full-circle {
    background-color: rgba(255, 255, 255, 0.3);
    border: 3px solid white;
    height: 100px;
    width: 100px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    position:absolute;
    right: 20px;
    bottom: 40%;
    margin:0px;
    font-size: 25px;
    cursor: pointer;
}

.full-circle p {
    margin-top: 20px;
}

.full-circle:hover { 
    animation: pulse 1s infinite;
    animation-timing-function: linear;   
  }

  .full-circle2 {
    background-color: rgba(255, 255, 255, 0.3);
    border: 3px solid white;
    height: 60px;
    width: 60px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    text-align: center;
    font-size: 40px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 20px;
}

.full-circle2 p {
    margin-top: 7px;
    color: white;
}

.full-circle2:hover { 
    animation: pulse 1s infinite;
    animation-timing-function: linear;   
  }
  
  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); 
    100% { transform: scale(1); }
    }
  }
