.full-circle {
    background-color: rgba(255, 255, 255, 0.3);
    border: 3px solid white;
    height: 100px;
    width: 100px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    margin:0px;
    font-size: 25px;
    cursor: pointer;
}

.full-circle p {
    margin-top: 20px;
}

.full-circle:hover { 
    animation: pulse 1s infinite;
    animation-timing-function: linear;   
  }

  .full-circle2 {
    background-color: rgba(255, 255, 255, 0.3);
    border: 3px solid white;
    height: 60px;
    width: 60px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    text-align: center;
    font-size: 40px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 20px;
}

.full-circle2 p {
    margin-top: 5px;
    color: white;
}

.full-circle2:hover { 
    animation: pulse 1s infinite;
    animation-timing-function: linear;   
  }

.learn-more-wrapper {
    display: flex;
    position: absolute;
    right: 20px;
    flex-direction: column;
    justify-content: space-between;
}

#learn-more-wrapper-one {
    top: 30%;
}

.learn-more-wrapper-center {
    top: 40%;
}